.footer {
  margin-top: 7rem;
  border-top: 1px solid var(--border2);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-grey);
  position: relative;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 4rem;
  }

  .iconContainer {
    display: none;
  }

  .icon {
    display: none;
  }

  .webringContainer {
    display: none;
  }
}

.iconContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10px;
  gap: 15px;
  color: var(--text-grey);
}

.icon {
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  color: black;
  transform: scale(1.05);
}

.webringContainer {
  position: absolute;
  right: 10px;
}

.webring {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--text-grey);
  gap: 5px;
  transition: all 0.1s ease-in-out;
}

.webring:hover {
  color: black;
  transform: scale(1.05);
}
