.progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  height: 4px;
  padding: 0;
  margin: 0;
}

.progressBar {
  height: 100%;
  transition: width 0.1s ease-out;
  background: var(--main-hl);
}
