.container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.title {
  color: var(--text-grey);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.titleHR {
  background-color: var(--border2);
  height: 1px;
  width: 6rem;
  min-width: 60px;
  border: none;
}

.titleDesc {
  font-size: 0.9rem;
  color: var(--text-grey);
  text-align: center;
}

.titleTagsContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titleTag {
  background-color: var(--background-grey);
  color: var(--text-grey);
  padding: 0 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--border1);
  transition: all 0.2s ease;
  cursor: pointer;
}

.titleTag:hover {
  background-color: var(--hover-bg);
  border-color: var(--border2);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 2rem 0;
}

.sectionHeader {
  color: var(--text-grey);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}

.educationContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.educationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.educationInnerHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.educationDuration {
  background-color: var(--background-grey);
  color: var(--text-grey);
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--border1);
  transition: all 0.2s ease;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.educationDuration:hover {
  background-color: var(--hover-bg);
  border-color: var(--border2);
}

.educationDegree {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .educationHeader {
    flex-direction: column;
    gap: 0.25rem;
  }
  .educationLocation {
    font-size: 0.85rem;
  }
}

.educationName {
  color: var(--text-grey3);
  padding-bottom: 0.5rem;
}

.educationNotes {
  font-size: 0.85rem;
  list-style-type: disc;
  margin-left: 1rem;
}

.educationNote {
  padding-left: 0.5rem;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.experienceGrid {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
  position: relative;
}

@media (max-width: 767px) {
  .experienceGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.experienceHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.experienceInnerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .experienceInnerHeader {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
}

.experienceTitle {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .experienceTitle {
    font-size: 1rem;
  }
}

.experienceDuration {
  background-color: var(--background-grey);
  color: var(--text-grey);
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--border1);
  transition: all 0.2s ease;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.experienceDuration:hover {
  background-color: var(--hover-bg);
  border-color: var(--border2);
}

.experienceSubHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .experienceSubHeader {
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.85rem;
    align-items: flex-start;
  }
}

.experienceCompany {
  color: var(--text-grey3);
}

.experienceLocation {
  color: var(--text-grey);
}

.experienceDescription {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-grey);
  margin-bottom: 1rem;
}

.experienceTechList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.workDot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--slight-hl);
  border: 0.25rem solid var(--border2);
  position: absolute;
  border-radius: 50%;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.verticalLine {
  width: 1.5px;
  height: 100%;
  position: absolute;
  background-color: var(--border1);
  left: 37px;
  top: 30px;
}

@media (max-width: 767px) {
  .verticalLine {
    display: none;
  }

  .workDot {
    display: none;
  }
}
