:root {
  --main-bg: #fff0ec;
  --light-bg: #fdf7f5;
  --slight-hl: #ffebe6;
  --border1: #f5e2dd;
  --border2: #cfbdb7;
  --text-grey: #374151;
  --text-grey2: #222325;
  --hover-bg: #f0d7d0;
  --btn-active: #f1c9be;
  --main-hl: #f0bbac;
}
