@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

:root {
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --slight-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Geist Mono", monospace;
  background-color: var(--main-bg);
  margin: 0px 2rem;
}

.overflow-page {
  height: 200vh;
}

hr {
  color: black;
  z-index: 100000000;
  height: 2px;
}

.card {
  border-radius: 8px;
  background-color: var(--slight-hl);
  box-shadow: var(--slight-box-shadow);
  border: 1px solid transparent;
  padding: 1rem;
  color: var(--text-grey);

  transition: all 0.2s ease;
}
.card:hover {
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border2);
}
