.horizontalNavContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: var(--slight-hl);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border1);
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.container {
  width: 50vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  gap: 2rem;
}

.navLink {
  color: var(--text-grey);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: color 200ms ease-out;
  text-decoration: none;
  position: relative;
  background: transparent;
}

.navLink:hover {
  color: black;
  background-color: var(--hover-bg);
}

.navLink.active {
  background-color: var(--btn-active);
  color: black;
  z-index: 10;
}

.navHighlight {
  position: absolute;
  inset: 0;
  background-color: var(--slight-hl);
  border-radius: 6px;
}

.textStyle {
  z-index: 20;
  position: relative;
}

.activeBackgroundStyle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-active);
  border-radius: 6px;
}

.hoverBackgroundStyle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--hover-bg);
  border-radius: 6px;
  opacity: 0;
}

/* ----- vertical nav ----- */

.verticalNavHeader {
  font-weight: 200;
}

.floatingNavContainer {
  /* position: relative; */
  z-index: 10;
}

.hoverTrigger {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  top: 2rem;

  background-color: rgba(255, 235, 230, 0.7);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: solid 1px var(--border1);
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  color: var(--text-grey);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  box-shadow: var(--box-shadow);
}

.hoverTrigger:hover {
  color: black;
  transform: translateY(-3px);
  border: 1px solid var(--border2);
}

.menuIcon {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.hoverTrigger:hover .menuIcon {
  transform: rotate(90deg);
}

.dropdown {
  position: fixed;
  top: 6rem;
  padding: 0.5rem;
  background-color: rgba(243, 233, 231, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border1);
  font-size: 1rem;
  color: var(--text-grey);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.VnavLink {
  color: var(--text-grey);
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: color 200ms ease-out;
  text-decoration: none;
  position: relative;
  background: transparent;
}

.VnavLink:hover {
  color: black;
  background-color: var(--hover-bg);
}

.VnavLink.Vactive {
  background-color: var(--btn-active);
  color: black;
  z-index: 10;
}
