:root {
  --main-bg: #f1e5ff; /* Background color */
  --slight-hl: #f1efea;
  /* #ffe5e6 FFE5EF F2EFE9 */
  /* Card background, black button text color, projects image circle link text color and border */
  --border1: #c5bad9;
  /* card border, projects transparent button border hover, navbar border, dropdown nav border*/
  --border2: #805c9c;
  /* card hover border, skill border, projects transparent button border, footer border, section header HR, hero socials container, hover border */
  --text-grey: #2a2a2e;
  /* Main grey colour for content and headers, skills progress bar background, navbar color */
  --text-grey2: #303237;
  /* card color, big black button background, projects transparent button text */
  --text-grey3: #606770;
  /* lighter grey for captions, minor descriptions */
  /* big black button background color hover */
  --hover-bg: #d8c1e3;
  /* Navigation hover */
  --btn-active: #d6abed;
  /* Navigation active */
  --main-hl: #835bb3;
  /* Progress scroll bar */
  --background-grey: #decfe4;
  /* Skill hover background, caption background, combined with text-grey3, skills progress bar container background, work vertical timeline, connect icon circle background */
  --purple-highlight: #9d87cc;
  /* Connect icon hover background */
  --error: #e03468;
  --success: #28a745;
}

/* Custom colours:
- Navbar vertical menu background color (.hoverTrigger)
- Navbar vertical dropdown background color (.dropdown)
*/

/* Swim page specific styling */
body.swimPage, html.swimPage{
  --main-bg: red; 
  
}


